%p
  Hi #{@ticket_request.user.first_name},

%p
  We have received your ticket request for #{@event.name},
  July 28th - July 30st, 2017.

-# XXX: This is temporary until tickets stop selling
-#- if @ticket_request.role == 'volunteer'
-#  %p
-#    At this point, all available tickets have been requested. However,
-#    we'll hold on to your request just in case.

%p
  If your request is approved, we will send you confirmation of the approved
  number of tickets and payment information as soon as we can (in some cases
  this can take a week or more).

%p
  We know that waiting is sometimes hard, so we thank you for your
  patience.

%p
  With love,
  %br
  Your FnF Ticket Team

%p
  P.S. You can see the status of your request at any time by
  visiting
  = succeed '.' do
    = link_to 'this page',
      event_ticket_request_url(@event, @ticket_request)
