%p
  Hi #{@ticket_request.user.first_name},
%p
  Your ticket request for
  %b #{@event.name}
  has been declined or denied

%p
  If you feel that this is an error or would like more information,
  please reply directly to this email.

%p
  The FnF Ticket Team
