%p
  Hi #{@ticket_request.name},

%p
  Your ticket request for
  %b Cloudwatch 2013
  has been approved!

%p
  To purchase your ticket with a credit card, go to:
  = link_to 'cloudwatch.fm', '#'

%p
  If you are arranging some other method of payment, go here:
  = link_to 'cloudwatch.fm/other', '#'

%p
  We will send you an email confirmation when your payment has been received.

%p
  %i
    To ensure you can attend, please make sure you pay for your ticket as soon
    as possible.
