# vim: ft=bash

PATH_add bin
PATH_add /opt/homebrew/bin

export brew_prefix="$(brew --prefix)"

pg_pkg="postgresql@$(cat .postgresql-version)"
pg_dir="${brew_prefix}/bin/${pg_pkg}"

[[ -d ${pg_dir} ]] && PATH_add "${pg_dir}" 

export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES

export V8HOME=$(brew --prefix v8@3.15)

export CFLAGS="-Wno-error=implicit-function-declaration -Wno-error=no-compound-token-split-by-macro"
export CPPFLAGS="$CPPFLAGS -I ${brew_prefix}/include -I ${V8HOME}/include"
export LDFLAGS="$LDFLAGS -L ${brew_prefix}/lib -L ${V8HOME}/lib"

export RUBY_CPPFLAGS="$CPPFLAGS"
export RUBY_CFLAGS="$CFLAGS"

[[ -f .envrc.local ]] && source .envrc.local
