# Ignore all logfiles and tempfiles
**/.DS_Store
.idea
.vscode
/log
/tmp

# Ignore file uploads in development
/public/uploads

# Ignore secrets
/ansible/vault-password
.env.secrets

# Ignore backups
/backups
/.yard
/.yardoc
/coverage
/doc
/.history
/.bundle
/public/assets
/vendor/bundle
.envrc.local
.make.env
