# Ignore all logfiles and tempfiles
/log
/tmp

# Ignore various config files so production passwords/keys aren't stored in
# source control
/config/database.yml
/config/stripe.yml

# Zeus config files might vary greatly between developers
/zeus*
