!/.env*.erb
!/app/assets/builds/.keep
!/storage/.keep
!/tmp/.keep
!/tmp/pids/
!/tmp/pids/.keep
!/tmp/storage/
!/tmp/storage/.keep
**/.DS_Store
./idea
.dccache
.env.secrets
.envrc.local
.idea
.make.env
.viminfo
.vscode
/.bundle
/.env*
/.history
/.yard
/.yardoc
/.yarn/*.gz
/ansible/vault-password
/app/assets/builds/*
/backups
/config/master.key
/coverage
/doc
/log/*.log
/node_modules
/public/assets
/public/uploads
/storage/*
/tmp
/tmp/*
/tmp/pids/*
/tmp/storage/*
/vendor/bundle
Downloads
newrelic_agent.log

/app/assets/builds/*
!/app/assets/builds/.keep
.terraform.lock.hcl
**/.terraform/*
