- content_for(:meta) do
  %meta{ name: 'stripe-key', content: STRIPE_PUBLIC_KEY }

- content_for(:head) do
  = javascript_include_tag 'https://js.stripe.com/v1/'

%h1
  Early Arrival / Late Departure Passes

%p.lead
  Arriving before noon on Friday or leaving after 2PM on Sunday?

%p
  Then you'll need an early arrival / late departure pass for each person in your vehicle/camp.

%p
  Have questions? Feel free to send
  = link_to 'Yarun', 'mailto:yarunl@gmail.com'
  a message!

%hr

- if (@event.start_time.beginning_of_day - Time.now) < 18.days
  = render 'form'
- else
  %p.lead
    Early Arrival / Late Departure passes will be available for purchase closer to the campout date
