---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1&currency=usd&automatic_payment_methods[enabled]=true&description=FnF+Winter+Campout+XXI+Tickets&metadata[event_name]=FnF+Winter+Campout+XXI
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-04-10'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e673b15e-12fc-4bc0-a9bd-487ee8c810e9
      Original-Request:
      - req_QCnqvKobvDTEL3
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-04-10'
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "amount_too_small",
            "doc_url": "https://stripe.com/docs/error-codes/amount-too-small",
            "message": "Amount must be at least $0.50 usd",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_QCnqvKobvDTEL3?t=1727995782",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Thu, 03 Oct 2024 22:49:42 GMT
recorded_with: VCR 6.3.1
