#flash{"data-flash-target": "flash"}
  - flash.each do |type, msg|
    .alert{ class: alert_class(type), role: "alert"}
      - main, rest = msg.split(/:/)
      %h3.flash-header
        = main
      - if rest != main && rest.present?
        %hr
        - rest.gsub(/.*:/, '').gsub(/["\[\]]/, '').split(', ').each do |message|
          %ul
            %li
              = message
