%p
  Hi #{@ticket_request.first_name},
%p
  Your payment of
  %b= number_to_currency @ticket_request.price
  for
  %b= @event.name
  was received.
%p
  We look forward to seeing you at the event!
%p
  Thanks,
  = @event.name
