.row
  .span6
    %h2 Don't have an account?
    %p
      = link_to 'Register »', '#', class: 'btn btn-primary btn-large'

  .span6
    %h2 Already registered?
    %p
      %a.btn.btn-primary.btn-large Log In »
