.hero-unit
  %h1
    Helping build culture through...

.container.marketing
  .row
    .span4.feature
      %img{ src: image_path('design-tools.png') }
      %h2
        Tools
      %p.lead
        Use tools specifically designed for organizing community and
        volunteer-driven events.
    .span4.feature
      %img{ src: image_path('payment-savings.png') }
      %h2
        Payments
      %p.lead
        Accept credit card payments for your event, avoiding more-expensive
        alternatives like PayPal.
    .span4.feature
      %img{ src: image_path('communications.png') }
      %h2
        Communications
      %p.lead
        Reach out to your event attendees with email tools and listserve
        integration.
  .row
    .span12.contact
      %h3 Interested?
      %p.lead
        Contact us at
        = mail_to 'events@helpingculture.com'
