= render partial: 'shared/nav_event_tabs', locals: { event: @event, active_tab: { event_edit: 'active' } }

.card.border-top-0
  .card-body
    %div{"data-controller": "flatpickr"}
      = render 'form'
      = link_to 'Back', :back
