%h1 #{@event.name} Guest List

%table.table.table-condensed
  %thead
    %tr
      %th Name
      %th Guests
  %tbody
    - @ticket_requests.each do |ticket_request|
      %tr
        %td= ticket_request.user.name
        %td= ticket_request.guests.join(', ')
