%h1 #{@event.name} Guest List

.btn-group
  = link_to download_guest_list_event_path(@event),
    class: 'btn btn-info hover-tooltip',
    title: 'Download CSV of the guest list' do
    %i.icon-th-list
      Download CSV

%table.table.table-condensed
  %thead
    %tr
      %th Name
      %th Guests
  %tbody
    - @ticket_requests.each do |ticket_request|
      %tr
        %td= ticket_request.user.name
        %td= ticket_request.guests.join(', ')
