.card
  .card-header.bg-dark-subtle
    %h1 Events
  .card-body
    %table.table.button-links.w-100
      %thead
        %tr
          %th.bg-body-secondary.ps-3 Event Name
          %th.bg-body-secondary.optional Status
          %th.bg-body-secondary.text-end.optional
            Ticket
            %br
            Requests
          %th.bg-body-secondary.text-end
            Total
            %br
            Guests
          %th.bg-body-secondary.text-end.optional Collected Revenue
          %th.bg-body-secondary.text-end.optional Awaiting Payment
          %th.bg-body-secondary.optional-small Start Time / End Time
      %tbody
        = render partial: 'events/event', collection: @events, cached: true

  .card-footer.bg-dark-subtle
    = link_to new_event_path, class: 'btn btn-warning ' do
      Create a New Event
      %i.icon-plus-sign
