%h2 #{@event.name} Staff Sheet

- if @ticket_request
  %p.lead
    This is a community event. Without your help, it can't happen.

  %p
    Volunteering for shifts helps make this event possible, and gives you an
    opportunity to meet new people and contribute to the community.
    You are welcome to sign up for as many shifts as you want. Just don't
    stretch yourself too thin! This is a party and people need to have fun,
    both while working and playing!

  %p<>
    When you're ready, please go ahead and
    %b
      = link_to new_payment_url(ticket_request_id: @ticket_request) do
        purchase your ticket

%p.lead.text-warning
  The volunteer shift signup sheet is currently being developed. You can still
  purchase your tickets, but please come back later to sign up for a shift (we'll
  send you an email when we're ready to start taking shift signups)
