%h2 #{@event.name} Staff Sheet

- if @ticket_request
  %p.lead
    This is a community event. Without your help, it can't happen.

  %p
    Volunteering for shifts helps make this event possible, and gives you an
    opportunity to meet new people and contribute to the community.
    You are welcome to sign up for multiple shifts (but don't stretch yourself too thin!)

  %p<>
    Once you're done, you can go ahead and
    %b
      = link_to new_payment_url(ticket_request_id: @ticket_request) do
        purchase your ticket

%p.lead.text-warning
  The volunteer shift signup sheet is still under development. You can still
  purchase your tickets, but please come back later to sign up for a shift if
  you're able.
