# Copy this file to config/database.yml and edit it so you can access the DB on
# your local development environment
defaults: &defaults
  adapter: postgresql
  encoding: utf8
  host: localhost
  username: app
  password: dev_password

development:
  <<: *defaults
  database: cloudwatch_dev

test:
  <<: *defaults
  database: cloudwatch_test
