= render partial: "payment", locals: { payment: @payment }

%p
  You can
  = link_to 'review your ticket information',
    event_ticket_request_path(@event, @ticket_request)
  at any time
  %br
  We look forward to seeing you at the event!

%p
  If you have any other questions, don't hesitate to contact us at
  = mail_to 'ticket-support@fnf.org'
