= render partial: "payment", locals: { payment: @payment }

- if @event.eald?
  %p
    %b Planning to arrive early or leave late?
    %br
    :ruby
      extra_params = {}
      extra_params[:early_arrival_passes] = @ticket_request.early_arrival_passes
      extra_params[:late_departure_passes] = @ticket_request.late_departure_passes
      extra_params[:email] = @ticket_request.user.email
      extra_params[:name] = @ticket_request.user.name
    = link_to 'Early Arrival / Late Departure Passes',
      new_event_eald_payment_path(@event, extra_params),
      target: '_blank'
    must be purchased separately!

%p
  You can
  = link_to 'review your ticket information',
    event_ticket_request_path(@event, @ticket_request)
  at any time
  %br
  We look forward to seeing you at the event!

%p
  If you have any other questions, don't hesitate to contact us at
  = mail_to 'tickets@fnf.org'
