---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=14500&currency=usd&automatic_payment_methods[enabled]=true&description=FnF+Spring+Campout+IIII+Tickets&metadata[event_id]=16224&metadata[event_name]=FnF+Spring+Campout+IIII&metadata[ticket_request_id]=14858&metadata[ticket_request_user_id]=21311
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-04-10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 183998e2-e1b7-4ced-8e1c-9d725dc83478
      Original-Request:
      - req_RliRZsi5iWvm05
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-04-10'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3TDcCj4ofUrW5ZY41QqEzWed",
          "object": "payment_intent",
          "amount": 14500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "always",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic_async",
          "client_secret": "pi_3TDcCj4ofUrW5ZY41QqEzWed_secret_gBPlClC4Y2IWTd5ErTjZPblb0",
          "confirmation_method": "automatic",
          "created": 1774148249,
          "currency": "usd",
          "customer": null,
          "customer_account": null,
          "description": "FnF Spring Campout IIII Tickets",
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "event_id": "16224",
            "event_name": "FnF Spring Campout IIII",
            "ticket_request_id": "14858",
            "ticket_request_user_id": "21311"
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": null,
          "payment_method_configuration_details": {
            "id": "pmc_1PFOE44ofUrW5ZY4cN1kE0il",
            "parent": null
          },
          "payment_method_options": {
            "amazon_pay": {
              "express_checkout_element_session_id": null
            },
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            },
            "cashapp": {},
            "link": {
              "persistent_token": null
            }
          },
          "payment_method_types": [
            "card",
            "link",
            "cashapp",
            "amazon_pay"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_payment_method",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Sun, 22 Mar 2026 02:57:29 GMT
recorded_with: VCR 6.4.0
