.event-admins {
  margin-left: 0;

  li {
    clear: right;
    list-style-type: none;
  }
}

.add-admin,
.remove-admin {
  margin-bottom: 10px;
}

img.event-preview {
  max-width: 200px;
  max-height: 200px;
  margin-left: 20px;
}

.card.event-nav {
  .card-body {
    .btn-group {
      .btn {
        font-size: 12pt !important;
      }
    }
  }
}

// Hide navbar text for small screens
@media (max-width: 600px) {
  img.event-preview {
    max-width: 80px;
    max-height: 80px;
  }
}
