.event-admins {
  margin-left: 0;
  max-width: 400px;

  li {
    clear: right;
    list-style-type: none;
  }
}

.add-admin,
.remove-admin {
  margin-bottom: 10px;
}

.remove-admin {
  float: right;
}

.event-photo {
  height: 50px;
  margin-right: 10px;
  width: 50px;
}

.event-preview {
  float: right;
}
