.container {
  padding-top: 20px;
}

.clear-right {
  clear: right;
}

a {
  color: #ff7800 !important;
  &:focus,
  &:hover {
    color: #ff3850 !important;
    text-decoration: none !important;
  }
}

.required-label {
  &:after {
    color: #f00;
    content: '*';
    font-weight: bold;
    margin-left: .1em;
  }
}

form {
  label {
    margin-top: 25px;
    margin-bottom: 5px;
    display: block;
  }
  input {
    margin-top: 5px;
    margin-bottom: 15px;
    display: block;
    max-width: 80%;
  }
}

.help-inline {
  line-height: 30px;
  vertical-align: top;
}

.help-popover {
  color: #ccc;
  font-size: 15px;
  line-height: normal;
  vertical-align: top;

  &:focus,
  &:hover {
    color: #333;
    text-decoration: none;
  }
}

.hidden {
  display: none;
}

$footer-height: 60px;

html {
  min-height: 100%;
  position: relative;
}

body {
  height: 100%;
  margin-bottom: $footer-height;
}

// Hide navbar text for small screens
@media (max-width: 410px) {
  .user-name,
  .sign-in-text,
  .sign-out-text {
    display: none;
  }
}


#footer {
  background-color: #f5f5f5;
  bottom: 0;
  height: $footer-height;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
}

#footer-text {
  margin: 20px 0;
}
