p {
  max-width: 600px;
}

table.time-slots {
  .col-time-of-shift {
    width: 250px;
  }

  .col-shifts-filled {
    text-align: center;
    width: 100px;
  }

  td {
    vertical-align: middle;
  }

  input {
    margin-bottom: 0;
  }

  .volunteers {
    vertical-align: bottom;
    display: inline-block;
  }

  .volunteer-form {
    float: right;
  }
}
