ul.event-tabs {
  font-size: 1.1em;
  margin-top: -20px;
  margin-bottom: -21px !important;

  a.nav-link.active {
    background-color: $primary-bg-subtle;
  }
}

.event-admins {
  margin-left: 0;
  padding-left: 15px;

  li {
    clear: right;
    list-style-type: none;
  }
}

.add-admin,
.remove-admin {
  margin-bottom: 10px;
}

img.event-preview {
  max-width: 200px;
  max-height: 200px;
  margin-left: 20px;
}

.row > .card {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding: 0;
}

.card-header {
  background-color: $secondary-bg-subtle !important;
}

.card-body {
  background-color: $primary-bg-subtle !important;
}

.card.event-nav {
  .card-body {
    background-color: transparent !important;
    .btn-group {
      .btn {
        font-size: 12pt !important;
      }
    }
  }
}

// Hide navbar text for small screens
@media (max-width: 600px) {
  img.event-preview {
    max-width: 80px;
    max-height: 80px;
  }

  .event-admins {
    padding-left: 0px;
  }

  ul.event-tabs {
    font-size: 0.8em;
    margin-top: -10px;
    margin-bottom: -10px !important;

    a.nav-link.active {
      background-color: $primary-bg-subtle;
    }
  }
}
