@import "bootstrap/scss/variables";

#flash_container {
  background-color: $success-bg-subtle;
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  z-index: 1000;
  padding: 0;
  box-shadow: 0px 10px 10px 0 rgba(45, 45, 45, 0.4);
  border-radius: 20px;
  min-height: 100px;
  display: none;
  z-index: 1500;

  #flash {
    position: relative;
    z-index: 2000;
    min-height: 100px;
    width: 100%;
    border-radius: 20px;

    h3.flash-header {
      font-size: 25pt !important;
      margin: 25px auto;
      text-shadow: 0 0 0;
      font-family: Oswald, "Bebas Neue", sans-serif;
    }

    .alert {
      padding: 0;
      width: 100%;
      margin: 0;
      border-radius: 20px;
      min-height: 100px;

      h3 {
        font-size: 16pt;
      }
    }

    .alert-danger {
      h3 {
        color: #f55 !important;
      }
    }
  }
}
