@import "global.css.scss";
@import "fonts.css.scss";
@import "bootstrap/scss/functions";

.btn  {
  border-radius: 5px;
  font-weight: 400;
  padding: 6px 15px;
  text-decoration: none;
  margin: 10px;
}

form {
  label {
    margin-top: 25px;
    margin-bottom: 2px;
    display: block;
    min-width: auto;
    font-size: 12pt;
    vertical-align: top;
  }

  input {
    background-color: #efe;
    color: #000;
    border: 0.5px solid #777;
    border-radius: 5px;
    padding: 5px 0;
    margin-top: 0;
    margin-right: 5px;
    margin-bottom: 0;
    display: inline-block !important;
    max-width: 80%;
  }

  input[type=text]#event_name {
    width: 400px !important;
    min-width: 400px !important;
    font-size: 14pt;
    background-color: $primary-bg-subtle !important;
  }

  input[type=text] {
    min-width: 100px;
    width: 300px;
    text-align: left;
    padding-left: 10px;
  }

  input[type=email]#user_email {
    width: 100% !important;
    max-width: 30em !important;
  }

  input[name="event[name]"] {
    width: 500px !important;
  }

  input[type=submit] {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  input[type=number] {
    text-align: right;
    width: 80px;
    min-width: 30px;
  }

  input[type=email], input[type=password] {
    padding: 9px !important;
    width: 300px;
    min-width: 100px;
  }
}

