.hero-unit {
  padding: 0 !important;
  margin: 0 auto !important;
  text-align: center;
}

.marketing {
  color: #5a5a5a;

  .feature {
    text-align: center;

    img {
      width: 40%;
    }
  }

  .contact {
    text-align: center;
  }
}
