.hero-unit {
  text-align: center;
  width: 100%;
  position: relative;
  overflow-y: hidden;
}

.marketing {
  color: #5a5a5a;

  .feature {
    text-align: center;

    img {
      width: 40%;
    }
  }

  .contact {
    text-align: center;
  }
}
