
nav.navbar {
  z-index: 100 !important;
  width: 100%;
  top: 0px !important;
  left: 0px !important;
  position: absolute !important;
  padding: 0px !important;
  margin: 0px !important;
  ackground-color: rgba(80, 133, 197, 0.58);
  border-bottom: 2px solid rgba(6, 74, 124, 0.58);

  .navbar-toggler {
    margin-right: 10px;
    margin-top: 10px;
  }

  a.nav-brand {
    display: inline-block;
    border-width: 0 !important;
    padding: 0 !important;
    background-color: transparent !important;
    border-radius: 0;
    margin-left: 30px;
  }

  a.nav-brand img {
    display: inline-block;
    position: relative;
    margin-left: 50px !important;
    padding: 20px !important;
  }

  ul {
    margin-left: 10px !important;

    li.nav-item {
      a.nav-link {
        border-radius: 5px;
        color: rgb(255, 255, 255) !important;
        text-decoration: none !important;
        padding: 6px 15px !important;
        margin-right: 10px !important;
        margin-left: 10px !important;
        background-color: rgba(69, 150, 254, 0.65) !important;

        &:focus,
        &:hover {
          background-color: rgba(69, 150, 254, 1) !important;
        }
      }
    }
  }
}

.button-links {
  a.button-link {
    display: inline-block;
    background-color: #225fe4 !important;
    border-radius: 5px;
    border: 1px solid #032761;
    color: #fff;
    font-weight: 400;
    margin-left: 0;
    margin-right: 3px;
    padding: 6px 15px;
    text-decoration: none;
    min-width: 200px !important;

    &:focus,
    &:hover {
      color: #000;
      background-color: #ff7800;
    }
  }
}

.btn-round {
  border-radius: 10px !important;
  padding: 6px 15px !important;
  vertical-align: baseline !important;
  font-size: 20pt;
}

.container-fluid, .container {
  .navbar {
    .btn, a.btn, a.button-link {
      background-color: #6a9549 !important;
      border-radius: 10px;
      border: 1px solid #aa3800;
      color: #fff;
      font-weight: 400;
      margin-left: 0;
      margin-right: 3px;
      padding: 6px 15px;
      text-decoration: none;

      &:focus,
      &:hover {
        color: #000;
        background-color: #ff7800;
      }
    }

    a.button-link {
      border-width: 0 !important;
      margin-top: 15px !important;
    }

    .event-nav {
      a.active {
        background-color: #fff;
        color: #ff7800;
      }
    }
  }

  a, a.btn {
    &:focus,
    &:hover {
      color: #000;
    }

    &:active {
      background-color: #ff7800;
    }
  }
}
