@media (min-width: 601px) and (max-width: 900px) {
  nav.navbar {
    font-size: 0.85em;
  }

  table {
    tr {
      td.optional,    th.optional,
      td.optional-small,  th.optional-small,
      td.optional-medium, th.optional-medium {
        display: none !important;
      }
    }
  }

  td.ticket-user {
    a {
      font-size: 0.85em !important;
      white-space: normal;
    }
  }

  table.event-summary {
    width: 85% !important;
    font-size: 0.9375em;
  }

  body {
    #columns-container {
      margin: 1rem auto;
      width: 100%;
    }
  }

  .event-admins a {
    font-size: 1em;
  }

  .main-container {
    padding: 1em;
  }

  .lead {
    font-size: 1.0625em !important;
  }

  .btn,
  .nav-link {
    font-size: 0.875em !important;
  }

  .nav-tabs {
    padding: 0.25rem !important;
  }

  .nav {
    a.nav-link,
    a.nav-link:active {
      font-size: 0.9375em !important;
    }
  }

  .card-footer {
    font-size: 0.875em !important;
    padding-top: 1rem !important;
  }

  .container-fluid,
  .container {
    .card {
      margin-top: 1rem !important;
    }

    td.ticket-user a {
      font-size: 0.875em;
      white-space: normal;
    }
  }
}
