
// Hide navbar text for small screens
@media  (min-width: 901px) and (max-width: 1500px) {
  body {
    font-size: 15pt;

    table {
      tr {

        td.optional, th.optional {
          display: table-cell !important;
        }
        td.optional-small, th.optional-small {
          display: table-cell !important;
        }
        td.optional-medium, th.optional-medium  {
          display: none !important;
        }
      }
    }

    td.ticket-user {
      a {
        font-size: 0.9em;
        white-space: wrap;
      }
    }
  }
}

