@media (max-width: 600px) {
  body {
    font-size: 0.9em !important;

    #columns-container {
      margin: 0.75rem auto;
      width: 100% !important;
    }

    .main-container {
      padding: 0.5rem !important;
      margin-top: 0 !important;
    }

    .container-fluid,
    .container {
      margin-top: 0 !important;
      padding-left: 0.5rem !important;
      padding-right: 0.5rem !important;
    }

    td.ticket-user {
      a {
        font-size: 0.85em !important;
        white-space: normal;
      }
    }

    td.ticket-status {
      font-size: 0.75em;
      white-space: normal;
    }

    img.event-preview {
      max-width: 80px;
      max-height: 80px;
    }

    .event-admins {
      padding-left: 0;
    }

    ul.event-tabs {
      font-size: 0.8em;
      margin-top: -0.5rem;
      margin-bottom: -0.5rem !important;

      .nav-link.active {
        font-weight: 600;
      }
    }

    .btn {
      font-size: 0.8125rem !important;
    }

    h1 { font-size: 1.5rem; }
    h2 { font-size: 1.25rem; }
    h3 { font-size: 1.125rem; margin: 0.75rem auto; }
    h4 { font-size: 1rem; margin: 0.5rem auto; }
    h5 { font-size: 0.9375rem; margin: 0.25rem auto; }

    .container-fluid,
    .container {
      padding: 0;

      .event-admins a {
        font-size: 1em;
      }

      .card {
        margin-left: 0;
        margin-right: 0;
        border-radius: $border-radius-sm;
      }

      .card.event-nav {
        overflow: visible;
      }

      table.event-summary {
        font-size: 0.75em;
      }

      .event-dates {
        font-size: 0.7em;
      }
    }
  }

  table {
    tr {
      td.optional,
      th.optional {
        display: none !important;
      }

      td.optional-small,
      th.optional-small {
        display: none !important;
      }

      td.optional-medium,
      th.optional-medium {
        display: none !important;
      }
    }
  }

  table#ticket-request-summary {
    tr td {
      font-size: 0.875em !important;
    }
  }

  small.nowrap {
    white-space: normal;
  }

  #footer {
    font-size: 0.7em;
  }

  .card-footer {
    font-size: 0.8125rem !important;
    padding-top: 1rem !important;
  }
}
