// Hide navbar text for small screens
@media (min-width: 0px) and (max-width: 600px) {
  body {
    #columns-container {
      margin: 20px auto;
      width: 100% !important;
    }

    %ul.navbar-nav {
      float: right;
    }
    .main-container {
      padding: 0 !important;
      margin-top: 0 !important;
      width: 90% !important;
    }

    .container-fluid, .container {
      margin-top: 0 !important;
      padding-left: 0 !important;
    }

    %nav {
      top: 0px !important;
    }

    font-size: 0.9em !important;

    td.ticket-user {
      a {
        font-size: 0.9em !important;
        white-space: wrap;
      }
    }

    td.ticket-status {
      font-size: 0.6em;
      white-space: wrap;
    }

    img.event-preview {
      max-width: 80px;
      max-height: 80px;
    }

    .event-admins {
      padding-left: 0px;
    }

    ul.event-tabs {
      font-size: 0.8em;
      margin-top: -10px;
      margin-bottom: -10px !important;

      a.nav-link.active {
        background-color: $primary-bg-subtle;
      }
    }

    .btn {
      font-size: 10pt !important;
    }

    h1 {
      font-size: 20pt;
    }

    h2 {
      font-size: 15pt;
    }

    h3 {
      font-size: 13pt;
      margin: 15px auto;
      text-shadow: 1px 1px 2px #000;
      color: #999 !important;
    }

    h4 {
      font-size: 12pt;
      margin: 10px auto;
    }

    h5 {
      font-size: 11pt;
      margin: 5px auto;
    }

    .container-fluid, .container {
      padding: 0;

      .event-admins {
        a {
          font-size: 1em;
        }
      }

      .card {
        margin-left: 0;
        margin-right: 0;
        overflow-y: scroll;
      }

      table.event-summary {
        font-size: 0.7em;
      }

      .event-dates {
        font-size: 0.6em;
      }

    }
  }

  table {
    tr {
      td.optional, th.optional {
        display: none !important;
      }

      td.optional-small, th.optional-small {
        display: none !important;
      }

      td.optional-medium, th.optional-medium {
        display: none !important;
      }
    }
  }

  table#ticket-request-summary {
    tr {
      td {
        font-size: 0.9em !important;
      }
    }
  }
  small.nowrap {
    white-space: normal;
  }

  #footer {
    font-size: 0.7em;
  }

}
