---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=51200&currency=usd&automatic_payment_methods[enabled]=true&description=FnF+Spring+Campout+XVIII+Tickets&metadata[event_name]=FnF+Spring+Campout+XVIII
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-04-10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4fdbf38e-be1c-4ff9-967f-58ddc768f27e
      Original-Request:
      - req_D4kVrHZDPtQcKU
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-04-10'
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3Q5xq44ofUrW5ZY410pbjGBB",
          "object": "payment_intent",
          "amount": 51200,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "always",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic_async",
          "client_secret": "pi_3Q5xq44ofUrW5ZY410pbjGBB_secret_kgtuzl3Ku37NbPCKduAsLE11W",
          "confirmation_method": "automatic",
          "created": 1727995780,
          "currency": "usd",
          "customer": null,
          "description": "FnF Spring Campout XVIII Tickets",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "event_name": "FnF Spring Campout XVIII"
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": null,
          "payment_method_configuration_details": {
            "id": "pmc_1PFOE44ofUrW5ZY4cN1kE0il",
            "parent": null
          },
          "payment_method_options": {
            "amazon_pay": {
              "express_checkout_element_session_id": null
            },
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            },
            "cashapp": {}
          },
          "payment_method_types": [
            "card",
            "cashapp",
            "amazon_pay"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_payment_method",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Thu, 03 Oct 2024 22:49:40 GMT
recorded_with: VCR 6.3.1
