%h1 Request Tickets for #{@event.name}

%p.lead
  %i.icon-calendar
  = @event.start_time.localtime.to_s(:month_day)
  &ndash;
  = @event.end_time.localtime.to_s(:month_day)

%p
  Please fill out the form below to request your tickets. Availability is limited.
%hr

= render 'form'
