%h1 Request Tickets

%p.lead
  Every year there are a large number of people who want to attend.
%p
  In order to ensure that everyone's needs are met and that tickets are
  distributed fairly, we ask that you specify how many tickets you need,
  whether you would like to work out special arrangements to purchase those
  tickets, and provide your contact information so we can let you know your
  request has been granted.
%hr

= render 'form'
