%h1 Request Tickets for #{@event.name}

%h2
  %i.icon-calendar
  = @event.start_time.localtime.to_s(:month_day)
  &ndash;
  = @event.end_time.localtime.to_s(:month_day)

%p.lead
  Every year there are a large number of people who want to attend.
%p
  Please fill out the form below to request your tickets.
%hr

= render 'form'
